* {
    font-style: 'Roboto';
}

h2 {
    margin: 20px auto;
}

#txtSmall {
    font-weight: 100;
    font-size: 15px;
}

#nomeAluno {
    margin-bottom: 10px;
    width: 300px;
}

#matriculaAluno {
    width: 200px;
    margin-top: 10px;
}

#nomeAluno {
    margin-top: 10px;
}

.cadastro { 
    width: max-content;
    margin-left: 80px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    border-radius: solid 5px grey ;
}

#btCadastrarAluno {
    height: 30px;
    width: 120px;
    margin-top: 10px;
    border: 0px;
    background-color: #337ab7;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Lato';
}

