* {
    font-style: 'Roboto';
}

h2 {
    margin: 20px auto;
}

#txtSmall {
    font-weight: 100;
    font-size: 15px;
}

#nomeTrabalho {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
}

#descricaoTrabalho {
    height: 40px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cadastro { 
    width: max-content;
    margin-left: 80px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    border-radius: solid 5px grey;
}

#imagens {
    margin: 10px 0;
    margin-left: 50px;
}

#videos {
    margin: 10px 0;
    margin-left: 50px;
}

#btCadastrarTrabalho {
    height: 30px;
    width: 120px;
    margin-top: 10px;
    border: 0px;
    background-color: #337ab7;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Lato';
}
