* {
    font-style: 'Roboto';
}

h2 {
    margin: 20px auto;
}

body {
    font-family: Roboto;
    font-weight: lighter;
    margin: 0;
    width: 100%;
    display: flex;
    background-color: #ededed;
}

#userAdm {
    font-size: 70%;
    margin-top:-19%;
}

#user {
    margin-top: 4.2%;
    font-size: 90%;
}

#descricao {
    font-size: 111%;
}

header {
    width: 100%;
    height: 6vh;
    background-color: #ededed;
    display: flex;
    flex-direction: row;
    border-bottom: solid #337ab7 4px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

#descricao {
    padding-left: 2vh;
}

#user {
    padding-bottom: 1%;
}

#userImg {
    height: 5vh;
    margin-left: 76%;
    padding-top: 0.3%;
    padding-right: 0.3%;
}

#userArrow {
    padding-top: 1.2%;
    padding-right: 0.4%;
    height: 2vh;
    margin-left: 1%;
}

.containerMenu {
    width: 19%;
    flex-direction: row;
    align-items: left;
}


.vertical-menu {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: #2f3444;
  }
  
.vertical-menu a {
    
    color: black;
    display: block; 
    padding: 8px; 
    text-decoration: none; 
    text-align: center;
    
  }
  
.vertical-menu a:hover {
    background-color: #3d4351;
    border-left: #337ab7 solid 4px;
  }

.menuLogo a {
    display:inline-block;
    font-size: 25px;
    color: white;
    border-bottom: solid white 2px;
    text-align: center;
}


#menuIcone {
    width: 14%;
    margin-left: 20%;
}

.containerCentro {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    }

#imagesCentro {
    padding: 1%;
}

#imagesCentro img{
    width: 30%;
}

#imgMatricula {
    border-left: #2ed1ff solid 8.5px;
    margin-left: 1%;
}

#imgCursos {
    border-left: #a4ff6a solid 8.5px;
    margin-left: 2.5%;
}

#imgAvaliacoes {
    border-left: #a78aff solid 8.5px;
    margin-left: 2.5%;
}

.menuIcons a {
    color: white;
    border-bottom: solid white 1px;
}

.menuIcons a img {
    width: 9%;
    margin-right: 3%;
}

#grafico {
    padding: 1.2%;
}

#txtSmall {
    font-weight: 100;
    font-size: 15px;
}

#nomeTrabalho {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
}

#descricaoTrabalho {
    height: 40px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cadastro { 
    width: max-content;
    margin-left: 80px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    border-radius: solid 5px grey;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

#arquivo1 {
    margin: 10px 0;
    margin-left: 50px;
}

#arquivo2 {
    margin: 10px 0;
    margin-left: 50px;
}

#btCadastrarTrabalho {
    height: 30px;
    width: 120px;
    margin-top: 10px;
    border: 0px;
    background-color: #337ab7;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Lato';
}
